.login-container {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-color: #e7e9f1;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.login-links {
  margin-top: 16px;
  text-align: center;
}

.login-links a {
  text-decoration: none;
  color: #3f51b5;
  font-weight: 500;
}

.login-links a:hover {
  text-decoration: underline;
}
