.app-coming-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #b5e4fe;
    color: #2b3862;
    width: 100%;
    height: 100vh;
}