.footer{
    padding: 12px;
    font-size: 12px;
    border-top: solid 1px #c4c6d0;
    width: 1124px;
    margin-right: auto;
    margin-left: auto;
}

.footer-list{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}