<footer class="footer-container">
  <div class="footer-grid">
    <!-- <div class="footer-section" #footerSection>
      <h4>Loan Categories</h4>
      <ul>
        <li>Home Loan Calculator</li>
        <li>Personal Loan Calculator</li>
        <li>Refinance Options</li>
        <li>Special Offers</li>
        <li>Non-Housing Loans</li>
        <li>Business Loans</li>
      </ul>
    </div> -->

    <!-- <div class="footer-section" #footerSection>
      <h4>Resources</h4>
      <ul>
        <li>Loan Repayment Tips</li>
        <li>EMI vs Tenure Guide</li>
        <li>Prepayment Planning</li>
        <li>Loan Closure Info</li>
        <li>Interest Breakdown</li>
        <li>Terms & FAQs</li>
      </ul>
    </div> -->

    <div class="footer-section" #footerSection>
      <h4>Tools</h4>
      <ul>
        <li><a routerLink="/calculator/emi-calculator" class="footer-link">EMI Calculator</a></li>
        <li><a routerLink="/calculator/sip-calculator" class="footer-link">SIP Calculator</a></li>
        <li><a routerLink="/loan-eligibility-calculator/checker" class="footer-link">Eligibility Checker</a></li>
        <li><a routerLink="/blogs/home" class="footer-link">Blogs</a></li>
        <!-- <li>Rate Comparison</li>
        <li>Amortization Schedule</li>
        <li>Interest Visualizer</li> -->
      </ul>
    </div>

    <div class="footer-section" #footerSection>
      <h4>Support</h4>
      <ul>
        <li>Contact Us</li>
        <li>Help & Feedback</li>
        <li>Privacy Policy</li>
        <li>Disclaimer</li>
        <li>Terms of Use</li>
      </ul>
    </div>

    <div class="footer-section" #footerSection>
      <h4>Connect</h4>
      <div class="footer-icons">
        <a href="https://www.facebook.com/profile.php?id=61579176987494" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/facebook.svg" alt="Facebook" loading="lazy"/>
        </a>
        <a href="https://x.com/techtrendstalks" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/twitter.svg" alt="Twitter" />
        </a>
        <a href="https://www.instagram.com/tech_trends_talks?igsh=MWthZ256eDJtNDlocA%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/in/tech-trend-talks-039038378/" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://youtube.com/@techtrendstalks?si=6O4o2dlnpbbrNRFu" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/youtube.svg" alt="YouTube" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025 Tech Trends Talks</p>
  </div>
</footer>

  