<nav aria-label="Top Toolbar" class="navbar-header">
    <button type="button" (click)="toggle()"  mat-icon-button  fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <a class="app-logo"> Tech Trends Talks </a>
    <div fxShow="true" fxHide.lt-md>
        <a style="display: none;" routerLink="/blogs" [routerLinkActive]="'navbar-header-item-selected'" [routerLinkActiveOptions]="{ exact: false }" mat-button> Blogs</a>
       
        <a routerLink="/" [routerLinkActive]="'navbar-header-item-selected'" [routerLinkActiveOptions]="{ exact: false }" mat-button> Home</a>
    </div>
</nav>