.app-logo {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: #b6e5ff;
  display: flex;
  gap: 10px;
}

.app-logo img{
  width: 40px;
  height: 40px;
}

.app-menu {
  color: #b6e5ff!important;
  margin-right: 4px;
}

.navbar-header-item-selected {
  font-weight: 800;
  border: 2px solid #1ebed9;
  color: #fff!important;
  background-color: #394972;
}

