<div class="app-blog-user-info">
  <div class="flex-row user-preview">
    <div class="flex-item-auto d-flex user-profile">
      <img
        [src]="user()?.profileImage"
        [alt]="user()?.userName"
        class="user-profile-img"
        loading="lazy"
      />
      <div class="d-flex-column profile">
        <p class="profile-name">{{ user()?.userName }}</p>
        <p class="profile-link">{{ user()?.userHandle }}</p>
      </div>
    </div>
    <div class="flex-item-auto blog-created">
      <p>{{ user()?.blogDate }}</p>
      <p>{{ user()?.readDuration }}</p>
    </div>
  </div>
</div>