/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
    // font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-family: 'Fira Sans', Roboto, sans-serif;
    margin: 0;
}

.app-background {
    background: #faf9fd;
}

.navbar-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    justify-content: space-between;
}

.component-viewer-sidenav-container {
    flex: 1;
    box-sizing: border-box;
}

.main-content {
    margin-top: 56px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

app-component-sidenav {
    margin-top: 56px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.flex-row {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .flex-row { 
    flex-flow: column!important;
  }
}



/* Small tablets (600px to 767px) */
@media (min-width: 600px) and (max-width: 767px) {
  /* Styles for small tablets */
   .navbar-header,
   .component-sidenav-content {
        width: 100%;
        margin: auto;
   }

   .flex-row{
    flex-flow: column!important;
  }
}

/* Large tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for large tablets */
   .navbar-header,
   .component-sidenav-content {
        width: 100%;
        margin: auto;
   }
   .flex-row{
    flex-flow: row nowrap!important;
  }
}


/* Small desktops (1025px to 1279px) */
@media (min-width: 1025px) and (max-width: 1279px) {
  /* Styles for small desktops */
  
   .navbar-header,
   .component-sidenav-content {
    width: 1124px;
    margin: auto;
  }

  .app-blog-item-container{
    width: 1057px;
  }

  .flex-row{
    flex-flow: row nowrap;
  }
}

/* Medium to large desktops (1280px and up) */
@media (min-width: 1280px) {
  /* Styles for large desktops */
  .navbar-header,
  .component-sidenav-content {
    width: 1124px;
    margin: auto;
  }

   .app-blog-item-container{
    width: 1057px;
  }

  .flex-row{
    flex-flow: row nowrap;
  }
}
