<div class="component-viewer-nav">
    <div class="component-viewer-nav-content">
      <mat-nav-list>
            <!-- <a mat-list-item routerLink="/blogs/list" routerLinkActive="navbar-header-item-selected" [routerLinkActiveOptions]="{ exact: true }"> Blogs List </a>
            <a mat-list-item routerLink="/blogs/create" routerLinkActive="navbar-header-item-selected"  [routerLinkActiveOptions]="{ exact: true }"> Create </a> -->

            <a (click)="menuClose()" mat-list-item routerLink="/calculator/emi-calculator" routerLinkActive="navbar-header-item-selected" [routerLinkActiveOptions]="{ exact: true }"> EMI Calculator </a>
            <a (click)="menuClose()" mat-list-item routerLink="/calculator/sip-calculator" routerLinkActive="navbar-header-item-selected"  [routerLinkActiveOptions]="{ exact: true }"> SIP Calculator </a>
      </mat-nav-list>
    </div>
</div>