<div class="component-viewer-nav">
    <div class="component-viewer-nav-content">
      <mat-nav-list>
             <a mat-list-item (click)="menuClose()" routerLink="/blogs/categories" routerLinkActive="navbar-header-item-selected" [routerLinkActiveOptions]="{ exact: true }"> Blogs </a>
             <a mat-list-item (click)="menuClose()" routerLink="/eligibility-checker/checker" routerLinkActive="navbar-header-item-selected" [routerLinkActiveOptions]="{ exact: true }"> Eligibility Checker </a>
            <!-- <a mat-list-item (click)="menuClose()" routerLink="/blogs/create" routerLinkActive="navbar-header-item-selected"  [routerLinkActiveOptions]="{ exact: true }"> Create </a> -->

            <a mat-list-item (click)="menuClose()"  routerLink="/calculator/emi-calculator" routerLinkActive="navbar-header-item-selected" [routerLinkActiveOptions]="{ exact: true }"> EMI Calculator </a>
            <a mat-list-item (click)="menuClose()"  routerLink="/calculator/sip-calculator" routerLinkActive="navbar-header-item-selected"  [routerLinkActiveOptions]="{ exact: true }"> SIP Calculator </a>
      </mat-nav-list>
    </div>
</div>